<section class='splash--screen'>
  <h1>Spendlyzer</h1>

  <div class='splash--sign'>
    <p class='login--btn'><%= link_to "Login", new_user_session_path, class: 'nav-link';%></p>
    <p class='signup--btn'><%= link_to "Sign Up", new_user_registration_path, class: 'nav-link'; %></p>
  </div>
</section>